.Blogs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;  
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}

.blog-content{
    display:flex;
    flex-direction: column;
    align-items: center;   
    background-color: #f5f5f5;
}

.blog-content .blog-card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f5f5f5;
}

.foto-blog{width:80%;height:80%;border-radius: 10px;
}

.blog-content .link{
    text-decoration: none;
    color: #333;
}

