html {
    scroll-behavior: smooth;
    transition: all 0.8s ease-in-out;
}

.home{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.hero{
    min-height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.5)),url(../asset/home-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 7%;
    font-size: 1.5rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
}

.hero-content{
    padding: 5%;
}

.link-btn{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: #0066b0;
    border-radius: 15px;
}

.link-btn:hover{
    background-color: rgba(0, 102, 176, 0.4);
    color: #fff;
}

.link-btn a{
    text-decoration: none;
    color: #fff;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #000000;
    font-size: 1.2rem;
    padding: 0 10%;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../asset/bgContent.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homeSub-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #000000;
    font-size: 1.5rem;
    padding: 0 10% 10% 10%;
    color: #fff;
}

.home-content-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6rem;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.home-content-section h2{
    font-size: 5rem;
    font-weight: 600;
    padding-bottom: 2rem;
    text-align: right;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-down a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.arrow-down{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #fff;
    animation: animateDown infinite 1.5s;
    color: rgba(255, 255, 255,0.5);
    transition: 0.5s;
}

.arrow-down:hover{
    color: rgba(255, 255, 255,1);
}

@keyframes animateDown{
    0%{
        transform: translateX(-50%) translateY(0);
    }
    50%{
        transform: translateX(-50%) translateY(20px);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}


@media screen and (max-width: 768px){
    .hero-content{
        padding: 10%;
    }
    .home-content{
        padding: 0 10%;
    }
    .home-content-section{
        display: flex;
        flex-direction: column;
        padding: 0 10%;
    }
    .home-content-section h2{
        position: relative;
        top: 100px;
        bottom: 10px;
        justify-content: center;
        text-align: left;
    }
    .arrow-down-bottom{
        position: relative;
        bottom: 20px;
        left: 50%;
        transform: rotate(0deg) translateX(-50%);
    }
}
    
@media screen and (max-width: 650px){
    .hero-content{
        padding: 10%;
    }
    .home-content{
        padding: 0 10%;
    }
    .home-content-section{
        display: flex;
        flex-direction: column;
        padding: 0 10%;
    }
    .home-content-section h2{
        position: relative;
        top: 100px;
        bottom: 10px;
        justify-content: center;
        text-align: left;
    }
}

@media screen and (max-width: 320px){
    .hero-content{
        padding: 10%;
    }
    .home-content{
        padding: 0 10%;
    }
}
