.hero{
    color: #6d6b6b;
    min-height: 100vh;
    display: flex;
    font-size: larger;
    
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    padding: 0 7%;
}


.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.home-sub-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 7%;
}

.sub-content{
    padding: 7% 0;
    font-size: 1rem;
}

.foto-sub-content{
    width: 10%;
    height: 10%;
}


