.quiz{
    background-color: #516191;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.question-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    color: #fff;
}

.answer-section{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    padding: 0 10%;
    color: #fff;
}

.answer-section button{
    min-width: 450px;
    max-width: 450px;
    font-size: large;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #fff;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #f4504f;
}