.blogPage{
    background-color: #F0F0F0;
    font-family: 'Poppins', sans-serif;
}


h2{
    font-size: 3rem;
}

main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../asset/bg_BlogPage.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.BlogPage-Hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    padding: 0 20% 0 10%;
    color: #F0F0F0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.6));
}


.BlogPage-Hero h1{
    font-size: 5rem;
    max-width: 5rem;
    padding: 0 0 1rem 0;
}

.BlogPage-Hero p{
    font-size: 1.5rem;
    max-width: 20rem;
    margin: 0 0 1rem 0;
}

.headContent{
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #fff;
    padding: 10%;
}

.headContent-sumary{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0 10%;
}

.blogContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    justify-content: center;
    align-items: center;
    padding:8% 10%;
}

.blogSubContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    justify-content: center;
    align-items: center;
    padding:8% 10%;
}

.blogContent-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.last_blogContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:0 10% 10% 10%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #3C486B;
}

@media screen and (max-width: 768px){
    *:root{
        font-size: 80%;
    }
    .BlogPage-Hero{
        padding: 10%;
        max-width: 100%;
    }
    .headContent{
        padding: 10%;
    }
    .blogContent{
        display: flex;
        flex-direction: column;
        padding: 10%;
    }
    .blogSubContent{
        display: flex;
        flex-direction: column-reverse;
        padding: 10%;
    }
    .blogContent-img img{
        width: 100%;
        height: 100%;
    }
}
    
@media screen and (max-width: 500px){
    *:root{
        font-size: 70%;
    }
    .BlogPage-Hero{
        padding: 10%;
        max-width: 100%;
    }
    .blogContent{
        display: flex;
        flex-direction: column;
    }
    .bllogSubContent{
        display: flex;
        flex-direction: column-reverse;
        padding: 10%;
    }
    .blogContent-img img{
        width: 100%;
        height: 100%;
    }
}
    
@media screen and (max-width: 400px){
    *:root{
        font-size: 70%;
    }
    .BlogPage-Hero{
        padding: 10%;
        max-width: 100%;
    }
    .headContent{
        padding: 10%;
    }
    .blogContent{
        display: flex;
        flex-direction: column;
        padding: 10%;
    }
    .blogSubContent{
        display: flex;
        flex-direction: column-reverse;
        padding: 10%;
    }
    .blogContent-img img{
        width: 100%;
        height: 100%;
    }
    .last_blogContent{
        padding: 10%;
    }
}