.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 7%;
    background-color: #3C486B;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    position: absolute;
}

.logo-link{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.link{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.navbar .logo{
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
}

.navbar .nav-links{
    display: flex;
    justify-content: right;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.navbar .link:hover{
    background-color: rgba(214, 213, 213,0.8);
    color: #333;
}